/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei UI", sans-serif;
  width: 100%;
  height: 100%;
  color: #666;
  background-color: #fff;
}
body .currentUser {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 14px;
}
body .currentUser a {
  text-decoration: underline;
}
ul {
  list-style: none;
}
.clearfix::before,
.clearfix:after {
  content: "";
  /*设置内容为空*/
  height: 0;
  /*高度为0*/
  line-height: 0;
  /*行高为0*/
  display: block;
  /*将文本转为块级元素*/
  visibility: hidden;
  /*将元素隐藏*/
  clear: both /*清除浮动*/;
}
.clearfix {
  zoom: 1;
  /*兼容IE*/
}
a {
  text-decoration: none;
}
.footerBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  z-index: 999;
}
.footerBar > div {
  display: none;
  width: 30%;
  height: 100%;
  margin: 0 auto;
  background-color: #f0ad4e;
  border-radius: 22px;
  text-align: center;
  line-height: 44px;
  color: #fff;
}
.firstView {
  width: 100%;
  height: 100%;
}
.firstView li {
  width: 100%;
  height: 30%;
  display: block;
  position: relative;
}
.firstView li a {
  position: absolute;
  width: 60%;
  height: 120px;
  border-radius: 20px;
  box-shadow: 2px 3px 15px #ccc;
  color: white;
  text-align: center;
  font-size: 32px;
  line-height: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.firstView li a.doneDiv {
  transition: 0.3s all;
  top: 70px;
  background-color: #2aabd2;
  animation: demoDone 2s infinite;
}
.firstView li a.wantDiv {
  transition: 0.4s all;
  top: 260px;
  background-color: #5cb85c;
  animation: demoWant 2s infinite;
}
.firstView li a.zengDiv {
  transition: 0.5s all;
  top: 450px;
  background-color: #f0ad4e;
  animation: demoZeng 2s infinite;
}
@keyframes demoDone {
  0% {
    background-color: #2aabd2;
  }
  50% {
    background-color: #6fc7e1;
  }
  100% {
    background-color: #2aabd2;
  }
}
@keyframes demoWant {
  0% {
    background-color: #5cb85c;
  }
  50% {
    background-color: #9dd79d;
  }
  100% {
    background-color: #5cb85c;
  }
}
@keyframes demoZeng {
  0% {
    background-color: #f0ad4e;
  }
  50% {
    background-color: #f5cc92;
  }
  100% {
    background-color: #f0ad4e;
  }
}
.firstView li a .firstViewIcon {
  position: absolute;
  top: -7%;
  right: -7%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #cb1515;
  border: 2px solid #fff;
  box-shadow: 2px 2px 6px #ccc;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
.mainList {
  padding-top: 60px;
  padding-bottom: 60px;
}
.mainList ul {
  display: none;
  padding: 0 10px;
}
.mainList ul.wantList .listOther span {
  background-color: #5cb85c;
}
.mainList ul.doneList .listOther span {
  background-color: #2aabd2;
}
.mainList ul li {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 1px 2px 18px #ddd;
}
.mainList ul li .listMain {
  width: 80%;
  float: left;
  padding: 20px;
}
.mainList ul li .listMain .listContent {
  width: 100%;
  height: 55px;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mainList ul li .listMain .listDate {
  font-size: 14px;
  text-align: right;
}
.mainList ul li .listOther {
  width: 20%;
  float: left;
  height: 100%;
  border-right: 1px solid #ccc;
}
.mainList ul li .listOther span {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../images/deleteIcon.png") no-repeat center;
  box-shadow: 1px 3px 3px #ccc;
  margin: 20px auto 0;
}
.mainList .zengList {
  display: none;
}
.mainList .zengList li {
  height: 550px;
}
.mainList .zengList .editViewADD {
  padding-top: 50px;
}
.mainList .zengList .editViewADD form textarea {
  font-family: "Microsoft YaHei UI", sans-serif;
  font-size: 18px;
  border: 0;
  outline: 0;
  resize: none;
  display: block;
  width: 90%;
  height: 140px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  padding: 10px;
}
.mainList .zengList .editViewADD form input {
  font-size: 18px;
  font-family: "Microsoft YaHei UI", sans-serif;
  border: 0;
  outline: 0;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  line-height: 40px;
}
.mainList .zengList .editViewADD form input.editSubmit {
  background-color: #f0ad4e;
  color: #fff;
}
.mainList .zengList .editViewADD form .catagory {
  font-size: 18px;
  font-family: "Microsoft YaHei UI", sans-serif;
  border: 0;
  outline: 0;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  line-height: 40px;
}
.editView {
  display: none;
  background-color: #f9f9f9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 150px;
  z-index: 99;
}
.editView form label {
  display: none;
}
.editView form textarea {
  font-family: "Microsoft YaHei UI", sans-serif;
  font-size: 18px;
  border: 0;
  outline: 0;
  resize: none;
  display: block;
  width: 90%;
  height: 140px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  padding: 10px;
}
.editView form input {
  font-size: 18px;
  font-family: "Microsoft YaHei UI", sans-serif;
  border: 0;
  outline: 0;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  line-height: 40px;
}
.editView form input.editSubmit {
  background-color: #aaa;
  color: #fff;
}
.editView form .catagory {
  font-size: 18px;
  font-family: "Microsoft YaHei UI", sans-serif;
  border: 0;
  outline: 0;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  line-height: 40px;
}
/*
以下登录注册界面
 */
.mainViewLoginSign {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.loginSignView {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.8s all;
}
.loginSignView li {
  width: 50%;
  height: 100%;
  padding-top: 50px;
  float: left;
}
.loginSignView li h2 {
  text-align: center;
  margin-bottom: 100px;
}
.loginSignView li input,
.loginSignView li a {
  font-size: 18px;
  font-family: "Microsoft YaHei UI", sans-serif;
  outline: 0;
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  text-indent: 10px;
  margin: 20px auto;
  line-height: 40px;
}
.loginSignView li.login a {
  text-align: center;
}
.loginSignView li.login a.loginBtn {
  width: 50%;
  background-color: #0099CC;
  color: #fff;
}
.loginSignView li.login a.toSignBtn {
  width: 50%;
  background-color: transparent;
  border-bottom: 2px solid #0099CC;
  font-size: 14px;
}
.loginSignView li.signup a {
  text-align: center;
}
.loginSignView li.signup a.toLoginBtn {
  width: 50%;
  background-color: transparent;
  border-bottom: 2px solid #0099CC;
  font-size: 14px;
}
.loginSignView li.signup a.signBtn {
  width: 50%;
  background-color: #0099CC;
  color: #fff;
}
/*# sourceMappingURL=myTodolist.css.map */