/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: "Microsoft YaHei UI Light", sans-serif;
  width: 100%;
  height: 100%;
}
.main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.tq-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75%;
  background: url("../images/orange.png") no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  transition: 1s all;
}
.tq-banner .location-main {
  padding-top: 10px;
}
.tq-banner .location-main .location {
  display: inline-block;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
}
.tq-banner .location-main .addNewCity-btn {
  display: inline-block;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 28px;
}
.tq-banner .arrow-btn a {
  color: #ffffff;
}
.tq-banner .arrow-btn .arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
}
.tq-banner .arrow-btn .arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
}
.tq-banner .title {
  padding-top: 20%;
}
.tq-banner .title span {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 0 5px;
  font-size: 45px;
  line-height: 100px;
}
.tq-banner .title span:nth-child(1) {
  border-right: 2px solid #ffffff;
}
.tq-banner .updateLoc {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 8px;
  padding-left: 5px;
}
.tq-banner .detailBtn {
  z-index: 999;
  text-align: center;
}
.tq-banner .detailBtn a {
  margin: 0 auto;
  display: block;
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 1px solid #ccc;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 44px;
  color: #fff;
  transition: 0.3s all;
}
.tq-banner .detailBtn a.active {
  background-color: #fff;
  color: #FD9438;
}
.tq-banner .addCity {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.tq-banner .addCity a {
  display: block;
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 44px;
  color: #fff;
  transition: 0.3s all;
}
.tq-banner .addCity a.active {
  background-color: #fff;
  color: #FD9438;
}
.tq-banner .addNewCity {
  width: 230px;
  background-color: #f9f9f9;
  opacity: 0.8;
  overflow: auto;
  /*以下让元素上下左右居中*/
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  padding: 10px;
  display: none;
}
.tq-banner .addNewCity a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FD9438;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333333;
  line-height: 36px;
  transition: 0.3s all;
}
.tq-banner .addNewCity input {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
  text-indent: 5px;
}
.tq-list {
  width: 100%;
  height: 25%;
  color: #555555;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tq-list .dailyWeather {
  width: 100%;
  height: 100%;
  list-style: none;
  display: none;
}
.tq-list .dailyWeather li {
  width: 100%;
  height: 33%;
  font-size: 16px;
  padding: 20px 0 0;
  transition: 0.5s all;
}
.tq-list .dailyWeather li div {
  line-height: 100%;
}
.tq-list .dailyWeather li div.list-week {
  float: left;
  width: 30%;
  text-align: center;
}
.tq-list .dailyWeather li div.list-temp {
  float: right;
  text-align: center;
  width: 50%;
}
.tq-list .dailyWeather li div span.iconfont {
  font-size: 16px;
  font-weight: bolder;
  color: #FD9438;
}
/*# sourceMappingURL=myWeather.css.map */